
<div class="container comment">
    <div class="card px-5 py-4 my-2">
        <span class="card-title">{{title}} <span id="postId">{{id}}</span></span>
            <h5>Comment by {{user.username}} on {{createdAt}}</h5>

        <div class="card-text m-2">
            {{body}}
            
        </div>
    </div>
</div>
