<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script> 
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>

 
<div class="card entry">
        <a href='/dashboard/{{id}}' style="color: black;"> {{posts.title}}</a>
        <h5>Posted by {{posts.user.username}} on {{ posts.createdAt }}</h5>
        <br>
    <div class="body">
        <p>{{posts.body}}</p>
    </div>

    <button type="button" class="btn btn-primary submit-btn">
            <a href="/dashboard/edit/{{id}}">
            <i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> Edit
            </a>
        </button>
        <button type="button" class="btn btn-danger delete-btn" value="{{id}}">
            <i class="fa fa-trash-o fa-1x" aria-hidden="true"></i> Delete
            </a>
        </button>
</div>



{{!-- post template --}}

<div class="card">
    
<div class="container comment">
    <div class="card px-5 py-4 my-2">
        <span class="card-title">{{comments.body}} <span id="postId">{{id}}</span></span>
            <h5>Comment by {{comments.user.username}} on {{comments.createdAt}}</h5>
    </div>
</div>

    <h2 class="card-header">Add a Comment</h2>
    <div class="card-body">
        <form class="form comment-form" id="comment-form" style="display: flex;">
            <div>
                <input class="form-control comment-input" placeholder="Add a comment..." type="text"/>
            </div>
            <div>
                <button class="comment-btn btn-primary" type="submit">Add comment</button>
            </div>
        </form>
    </div>
</div>

{{!-- display already posted comments --}}


</div>

<script src="/js/comment.js"></script>
